<div class="row">
	<div id="mas2">
		<div class="col-md-6">
			<h4>La corporación estara establecida en el estado de Delaware. Unos de los estados más amigable para negocios no solo en los Estados Unidos pero tambien para aquellos que se encuentran afuera de los Estados Unidos. </h4>

			<h2>Paquete de Incorporacion C Corp<br/>$708 <p>($508 cargo de incorporar + $200 cargo por el servicio = $708)</p><h2>

			<h2>Incluye lo siguiente;</h2>
			<ul>
				<li>
					<h4>Verificación del nombre de la empresa</h4>
				</li>
				<li>
					<h4>Preparación y presentación de todos los documentos</h4>
				</li>
				<li>
					<h4>Seis meses gratis del servicio de agente registrado. Despues del ano se le cobrará $167, annual  (Tener un servicio de agente registrado es un requisito legal en muchos estados)</h4>
				</li>
				<li>
					<h4>Envíos internacionales de los documentos finalizados por FedEx.</h4>
				</li>
			</ul>
		</div>
	</div>
</div>