<div class="row">
	<div class="col-md-7">
		<div id="myCarousel" class="carousel slide" data-interval="6000">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<div class="logo">
						<h1>fácilcorp</h1>
						<h3>La forma más fácil y rapida para los emprendedores Colombianos incorporar su empresa en los Estados Unidos.</h3>
					</div>
				</div>

				<div class="item">
					<div class="left">
						<h1>Firma Electrónica</h1>
						<h3>Sin filas, transporte, o tiempo gastado.</h3>
					</div>
				</div>

				<div class="item">
					<div class="left">
						<h1>Somos como tú</h1>
						<h3>Somos un startup pequeño  y comprendemos la importancia de este proceso. Es por eso que estamos aquí para ayudar y responder a cualquier pregunta.</h3>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div id="page_wrapper">
			<h1>Detalles De La Compañía</h1>

			<%= render 'form' %>
		</div>
	</div>
</div>

