<div class="row">
	<div class="col-md-7">
		<div class="left">
			<h1>fácilcorp</h1>
			<h3>La forma más fácil y rapida para los emprendedores Colombianos incorporar su empresa en los Estados Unidos.</h3>
		</div>
	</div>
	<div class="col-md-5">
		<div id="page_wrapper">
			<h1>Detalles De La Compañía</h1>

			<%= render 'form' %>
			<%= link_to 'Back', companynames_path %>
		</div>
	</div>
</div>

