<div class="row">
	<div id="faq">
		<div class="col-md-6">
			<h2>Por qué usar facilcorp?</h2>
			<h4>No hay necesidad de frustrarse en traffico en camino La Cámara de Comercio. Y perder su tiempo en línea. Incorpore su emprendimento desde Colombia con sólo unos clicks.</h4>
		</div>
	</div>
</div>