// Place all the styles related to the companynames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
	padding-top: 70px; 
	font-family: 'Raleway', sans-serif !important;
	background-color: #0084B4 !important;
}

/***Sign up page***/

.left {
	margin-top: 10%;
	margin-left: 5%;
	color: white;
}

.left h1 {
	font-size: 10em;
}

.left h3 {
	font-size: 2.5em;
}

.right {
	margin-left: 5%;
	color: white;
}